* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #8360c3, #2ebf91);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    height: 75px;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#navbar.scrolled {
    background: rgba(20, 24, 38, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav span {
    display: flex;
    align-items: center;
}

nav span h1 {
    font-family: "BBH Bartle", sans-serif;
    font-size: 42px;
    margin-right: 15px;
    color: #ffffff;
    text-shadow: 4px 4px #2ebf91;
}

nav span small {
    font-family: "BBH Bogle", sans-serif;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    border-right: 2px solid #ffffff;
    padding-right: 15px;
    margin-top: 8px;
}

nav ul {
    font-family: "Outfit", sans-serif;
    display: flex;
    list-style-type: none;
    gap: 30px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: #ffffff;
}

nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px; 
  width: 0;
  height: 4px;
  background-color: #2ebf91;
  transition: width 0.3s ease-in-out; 
  border-radius: 2px; 
}

nav ul li a:hover::after {
  width: 100%; 
}

nav .github-btn {
    font-family: "Outfit", sans-serif;
    padding: 0px 15px;
    font-size: 18px;
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    color: #8360c3;
    box-shadow: 5px 5px 0px 0px #7F7FD5;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

nav .github-btn:hover {
    transform: translateY(-5px);
}

nav .hamburger {
    display: none;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
    z-index: 1000;
}

.MySidebar {
    display: none;
}

main, #about, #contacts, #freelance, #portfolio {
    min-height: 100vh;
}

#about, #contacts, #freelance, #portfolio {
    padding: 75px;
    color: #ffffff;
}

main {
    text-align: center;
    line-height: 1.5;
    margin: 10%;
}

main h1, #about h1, #contacts h1, #freelance h1, #portfolio h1 {
    font-family: "Archivo Black", sans-serif;
    text-spacing-trim: 5px;
}

main h1 {
    font-size: 52px;
    color: #ffffff;
    text-shadow: 5px 5px #8360c3;
}

main p, #about p, #contacts p, #freelance p, #portfolio p {
    font-family: "Outfit", sans-serif;
    color: #ffffff;
}

main p {
    font-size: 20px;
}

main .home-btns {
    margin-top: 25px;
}

main .home-btns ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

main .home-btns ul li a {
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    padding: 15px 25px;
    background-color: #2ebf91;
    color: #ffffff;
    border-radius: 30px;
    box-shadow: 5px 5px 0px 0px #8360c3;
    transition: 0.3s ease-in-out;
    display: inline-block;
}

main .home-btns ul li a:hover {
    transform: translateY(-5px);
}

main .social-links {
    list-style-type: none;
    display: flex;
    position: absolute;
    bottom: 35px;
    justify-content: center;
    width: 80%;
    gap: 100px;
}

main .social-links li a {
    text-decoration: none;
    color: #8360c3;
    transition: color 0.3s ease-in-out;
    font-family: "Outfit", sans-serif;
    background-color: transparent;
    font-size: 18px;
    background-color: #ffffff;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 5px 5px 0px 0px #8360c3;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

main .social-links li a:hover {
    transform: translateY(-5px);
}

#about .about-content,
#contacts .contacts-content,
#freelance .freelance-content,
#portfolio .portfolio-content {
    display: column;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    line-height: 1.5;
}

#about section {
    display: flex;justify-content: space-between;
    gap: 30px;
}

#about .about-content h1,
#contacts .contacts-content h1, 
#freelance .freelance-content h1,
#portfolio .portfolio-content h1 {
    font-size: 42px;
    color: #ffffff;
    text-shadow: 5px 5px rgb(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    width: fit-content;
}

#about .about-content p,
#contacts .contacts-content p,
#freelance .freelance-content p {
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    width: 50%;
}

#about .about-content img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
}



#contacts .contacts-content ul,
#freelance .freelance-content ul,
#portfolio .portfolio-content ul {
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

#contacts .contacts-content ul li,
#freelance .freelance-content ul li {
    text-decoration: none;
    color: #ffffff;
    font-family: "Outfit", sans-serif;
    background-color: #2ebf91;
    padding: 16px 25px;
    border-radius: 30px;
    box-shadow: 5px 5px 0px 0px #8360c3;
    transition: 0.3s ease-in-out;
    display: inline-block;
    text-align: center;
    line-height: 3;
    font-size: 18px;
}

#contacts .contacts-content ul li:hover {
    transform: translateY(-5px);
}

#contacts .contacts-content .email {
    margin-top: 30px;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

#contacts .mobile-style-contacts {
    display: none;
}

#freelance .freelance-content .inquiries {
    margin-top: 30px;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

#freelance .mobile-style-freelance {
    display: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

footer {
    padding: 20px;
    background: rgba(20, 24, 38, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #ffffff;
    font-family: "Outfit", sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

footer p {
    font-size: 18px;
}

footer ul {
    font-size: 18px;
}

footer ul li a {
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 768px) {
    nav span h1 {
        font-size: 22px;
    }
    nav ul {
        display: none;
    }
    
    nav .hamburger {
        display: block;
        color: #ffffff;
        cursor: pointer;
    }
    
    .MySidebar {
        display: block; 
        position: fixed;
        top: 0;
        height: 100%;
        width: 250px;
        right: -250px;
        background: rgba(20, 24, 38, 0.75);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease-in-out;
        padding-top: 60px;
        z-index: 1000;
    }
    
    .MySidebar ul {
        list-style-type: none;
        padding: 0;
    }
    
    .MySidebar ul li {
        margin: 20px 0;
        text-align: center;
    }
    
    .MySidebar ul li a {
        text-decoration: none;
        color: #ffffff;
        font-family: "Outfit", sans-serif;
        font-size: 18px;
        display: block;
        padding: 10px 0;
    }
    
    .MySidebar.show {
        right: 0;
    }

    .close_nav {
        position: absolute;
        top: 25px;
        right: 20px;
        background: transparent;
        border: none;
        font-size: 28px;
        color: #ffffff;
        cursor: pointer;
    }

    .github-btn {
        font-family: "Outfit", sans-serif;
        padding: 10px 15px;
        font-size: 18px;
        background-color: #7F7FD5;
        border: none;
        border-radius: 30px;
        color: #ffffff;
        box-shadow: 2px 2px 0px 0px #91EAE4;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        position: absolute;
        bottom: 230px;
        left: 70px;
    }

    main {
        line-height: 2;
    }
    main h1 {
        font-size: 36px;
    }

    main p {
        font-size: 16px;
    }

    main .social-links {
        gap: 20px;
        bottom: 20px;
    }

    main .home-btns {
        margin-top: 15px;
    }

    main .home-btns ul {
        flex-direction: column;
        gap: 15px;
    }

    main .link-text {
        display: none;
    }

    #about {
        align-items: center;
        line-height: 2;
    }

    #about section {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    #about .about-content h1,
    #contacts .contacts-content h1 {
        font-size: 32px;
    }

    #about .about-content p,
    #contacts .contacts-content p,
    #freelance .freelance-content p {
        text-align: justify;
        text-justify: inter-word;
        width: 100%;
        font-size: 12px;
    }

    #about .about-content img {
        width: 225px;
        height: 225px;
        height: auto;
        margin-top: 20px;
    }

    #contacts .contacts-content h1,
    #portfolio .portfolio-content h1    {
        font-size: 32px;
    }

    #freelance .freelance-content h1 {
        font-size: 28px;
    }
    #contacts .contacts-content ul,
    #freelance .freelance-content ul {
        display: none;
    }

    #contacts .contacts-content .email,
    #freelance .freelance-content .inquiries {
        font-size: 14px;
    }

    #contacts .mobile-style-contacts {
        display: block;
        margin-top: 20px;
        font-family: "Outfit", sans-serif;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    #contacts .mobile-style-contacts p {
        margin-bottom: 15px;
        background-color: #2ebf91;
        padding: 16px 25px;
        border-radius: 30px;
        box-shadow: 5px 5px 0px 0px #8360c3;
        display: inline-block;
    }
    
    #freelance .mobile-style-freelance {
        display: block;
        margin-top: 20px;
        font-family: "Outfit", sans-serif;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    #freelance .mobile-style-freelance p {
        margin-bottom: 15px;
        background-color: #2ebf91;
        padding: 16px 25px;
        border-radius: 30px;
        box-shadow: 5px 5px 0px 0px #8360c3;
        display: inline-block;
    }

    footer {
        flex-direction: column;
        gap: 20px;
    }
}